//==============================
//
//		_txt
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.txt_center{
    text-align: center;
}


//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	
    .txt{
        font-size: 1.8rem;
        line-height: 1.8;
        sup{
            vertical-align: top;
            font-size: 50%;
            top: -0.1em;
            position: relative;
        }
    }

    .txt_annotaion{
        font-size: 1.4rem;
        color: #40220f;
        margin: 0;
    }

}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {

    .txt{
        font-size: 1.5rem;
        line-height: 1.8;
        sup{
            vertical-align: top;
            font-size: 50%;
            top: -0.1em;
            position: relative;
        }
    }

    .txt_annotaion{
        color: #40220f;
        margin: 0;
        font-size: 1.3rem;
    }
	
}