@use "../../common/mixin";

.c-button{
    &--mail{
        color: #707070;
        &:visited{
            color: #707070;
        }
    }
    &--line{
        color: #06C755;
        &:visited{
            color: #06C755;
        }
    }
    &--tel{
        color: #F2A700;
        &:visited{
            color: #F2A700;
        }
    }
}

@media #{$break_point_pc}{
    .c-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 15px 0;
        border: 2px solid #000;
        border-radius: 50px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1);
        background-color: #fff;
        &--mail{
            padding-left: unquote('min(calc((30 / 393) * 100vw), 30px)');
            border-color: #707070;
            color: #707070;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width: calc((26 / 1366) * 100vw);
                max-width: 26px;
                height: calc((17 / 1366) * 100vw);
                max-height: 17px;
                background-image: url(./assets/img/mail_icon.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                left: unquote('min(calc((6 / 393) * 100vw), 20px)');
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover{
                background-color: #707070;
                color: #fff;
                &::before{
                    content: "";
                    display: inline-block;
                    width: calc((26 / 1366) * 100vw);
                    max-width: 26px;
                    height: calc((17 / 1366) * 100vw);
                    max-height: 17px;
                    background-image: url(./assets/img/mail_icon_white.png);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: unquote('min(calc((6 / 393) * 100vw), 20px)');
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &--line{
            padding-left: unquote('min(calc((20 / 393) * 100vw), 24px)');
            border-color: #06C755;
            color: #06C755;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width: calc((23 / 1366) * 100vw);
                max-width: 23px;
                height: calc((23 / 1366) * 100vw);
                max-height: 23px;
                background-image: url(./assets/img/line_icon.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                left: unquote('min(calc((5 / 393) * 100vw), 20px)');
                top: 50%;
                transform: translateY(-50%);
            }
            &:hover{
                background-color: #06C755;
                color: #fff;
                &::before{
                    content: "";
                    display: inline-block;
                    width: calc((24 / 1366) * 100vw);
                    max-width: 24px;
                    height: calc((25 / 1366) * 100vw);
                    max-height: 25px;                 
                    background-image: url(./assets/img/line_icon_white.png);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: unquote('min(calc((5 / 393) * 100vw), 20px)');
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &--tel{
            border-color: #F2A700;
            color: #F2A700;
            text-align: center;
            &:hover{
                background-color: #F2A700;
                color: #fff;
            }
        }
        &--big{
            font-size: 14px;
            &::before{
                left: calc((60 / 283) * 100%);
            }
            &:hover{
                &::before{
                    left: calc((60 / 283) * 100%);
                }
            }
        }
    }
}

@media #{$break_point_sp}{
    .c-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 16px 0;
        border: 2px solid #000;
        border-radius: 50px;
        font-size: unquote('min(calc((16 / 393) * 100vw), 16px)');
        font-weight: bold;
        text-decoration: none;
        background-color: #fff;
        &--mail{
            padding-left: calc((30 / 393) * 100vw);
            border-color: #707070;
            color: #707070;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width: calc(26 / 393 * 100vw);
                height: calc(17 / 393 * 100vw);
                background-image: url(./assets/img/mail_icon.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                left: calc((20 / 154) * 100%);
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &--line{
            padding-left: calc((30 / 393) * 100vw);
            border-color: #06C755;
            color: #06C755;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width: calc(23 / 393 * 100vw);
                max-width: 23px;
                height: calc(23 / 393 * 100vw);
                max-height: 23px;
                background-image: url(./assets/img/line_icon.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                left: calc((20 / 154) * 100%);
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &--tel{
            border-color: #F2A700;
            color: #F2A700;
            text-align: center;
        }
        &--big{
            &::before{
                content: none;
            }
            &-txt{
                position: relative;
                &::before{
                    content: "";
                    display: inline-block;
                    width: calc(23 / 393 * 100vw);
                    max-width: 23px;
                    height: calc(23 / 393 * 100vw);
                    max-height: 23px;
                    background-image: url(./assets/img/line_icon.png);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -32px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@media #{$break_point_tab}{
    .c-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 16px 0;
        border: 2px solid #000;
        border-radius: 50px;
        font-size: max(calc((16 / 1366) * 100vw), 16px);
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1);
        background-color: #fff;
        &--mail{
            padding-left: calc((30 / 1366) * 100vw);
            border-color: #707070;
            color: #707070;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width: calc(26 / 1366 * 100vw);
                height: calc(17 / 1366 * 100vw);
                background-image: url(./assets/img/mail_icon.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                left: calc((20 / 154) * 100%);
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &--line{
            padding-left: calc((30 / 1366) * 100vw);
            border-color: #06C755;
            color: #06C755;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                width: calc(23 / 1366 * 100vw);
                max-width: 23px;
                height: calc(23 / 1366 * 100vw);
                max-height: 23px;
                background-image: url(./assets/img/line_icon.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                left: calc((60 / 283) * 100%);
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &--tel{
            border-color: #F2A700;
            color: #F2A700;
            text-align: center;
        }
        &--big{
            &::before{
                content: none;
            }
            &-txt{
                position: relative;
                &::before{
                    content: "";
                    display: inline-block;
                    width: calc(23 / 393 * 100vw);
                    max-width: 23px;
                    height: calc(23 / 393 * 100vw);
                    max-height: 23px;
                    background-image: url(./assets/img/line_icon.png);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -32px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}