@import "../../common/mixin";

.c-button{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 25px;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: unquote('min(calc((14 / 1366) * 100vw), 14px)');
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.45, 0, 0.55, 1);
    background-color: #fff;
    &--mail{
        padding-left: 50px;
        border-color: #707070;
        color: #707070;
        &:hover{
            background-color: #707070;
            color: #fff;
        }
    }
    &--line{
        padding-left: 50px;
        border-color: #06C755;
        color: #06C755;
        &:hover{
            background-color: #06C755;
            color: #fff;
        }
    }
    &--tel{
        border-color: #F2A700;
        color: #F2A700;
        text-align: center;
        &:hover{
            background-color: #F2A700;
            color: #fff;
        }
    }
}