@use "../../common/mixin";

@media #{$break_point_pc}{
    .c-card{
        width: 100%;
        padding: 16px;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        background-color: #fff;
        color: #111;
        position: relative;
        transition: all 0.3s;
        &__name{
            font-size: 15px;
            font-weight: bold;
        }
        &::after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 12px 12px;
            border-color: transparent transparent #F2A700 transparent;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        &:hover{
            background-color: #F2A700;
            color: #fff;
            &::after{
                border-color: transparent transparent #fff transparent;
            }
        }
    }
}

@media #{$break_point_sp}{
    .c-card{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        background-color: #fff;
        position: relative;
        &__name{
            font-size: unquote('min(calc((15 / 393) * 100vw), 15px)');
            font-weight: bold;
            color: #111;
        }
        &::after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 calc((12 / 393) * 100vw) calc((12 / 393) * 100vw);
            border-color: transparent transparent #F2A700 transparent;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

@media #{$break_point_tab}{
    .c-card{
        width: 100%;
        padding: 16px;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        background-color: #fff;
        position: relative;
        &__name{
            font-size: 15px;
            font-weight: bold;
            color: #111;
        }
        &::after{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 12px 12px;
            border-color: transparent transparent #F2A700 transparent;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}