@use "../../common/mixin";

@media #{$break_point_pc}{

    .c-form-select{
        padding: 15px calc((20 / 1366) * 100vw);
        background-color: #F7F7F7;
        border: none;
        line-height: 1.4;
        min-height: 56px;
        appearance: none;
        background-image: url(/assets/img/arrow_icon_02.png);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 18px 9px;
    }

}