@use "../../common/mixin";

@media #{$break_point_pc}{

    .c-radio{
        &__input{
            position: absolute;
            opacity: 0;
            z-index: -1;
            &:checked{
                & + label{
                    &::after{
                        content: '';
                        display: inline-block;
                        border-radius: 50%;
                        width: calc((12 / 1366) * 100vw);
                        height: calc((12 / 1366) * 100vw);
                        background-color: #F2A700;
                        position: absolute;
                        top: 50%;
                        left: calc((18.4 / 1366) * 100vw);
                        transform: translateY(-50%);
                    }
                }
            }
        }
        &__label{
            padding-left: calc((40 / 1366) * 100vw);
            font-size: unquote('min(calc((16 / 1366) * 100vw), 16px)');
            position: relative;
            &::before{
                content: '';
                display: inline-block;
                border-radius: 50%;
                border: 1px solid #656565;
                width: calc((20 / 1366) * 100vw);
                height: calc((20 / 1366) * 100vw);
                position: absolute;
                top: 50%;
                left: calc((15 / 1366) * 100vw);
                transform: translateY(-50%);
            }
        }

    }

}