@use "../../common/mixin";

@media #{$break_point_pc}{
    .c-section-cat{
        line-height: 2;
        font-size: 10px;
        text-align: center;
        color: #111;
    }
}

@media #{$break_point_sp}{
    .c-section-cat{
        line-height: 2;
        font-size: unquote('min(calc((10 / 393) * 100vw), 10px)');
        text-align: center;
        color: #111;
    }
}

@media #{$break_point_tab}{
    .c-section-cat{
        line-height: 2;
        font-size: 10px;
        text-align: center;
        color: #111;
    }
}