@use "../common/mixin";

@media #{$break_point_pc}{
    .l-fv{
        padding-top: 80px;
    }
}

@media #{$break_point_sp}{
    .l-fv{
        margin-top: 70px;
    }
}

@media #{$break_point_tab}{
    .l-fv{
        margin-top: 70px;
    }
}