@use "../common/mixin";

.l-header{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    &__inner{
        display: flex;
        justify-content: space-between;
        width: calc(1020 / 1366 * 100vw);
        margin-left: auto;
        margin-right: auto;
    }
    &__logo{}
    &__links{
        display: flex;
        column-gap: 10px;
    }
    &__links-item{
    }
    &__links-button{
    }
}