@use "../common/mixin";

@media #{$break_point_pc}{
    .l-reform{
        margin-top: 80px;
    }
}

@media #{$break_point_sp}{
    .l-reform{
        margin-top: 56px;
    }
}

@media #{$break_point_tab}{
    .l-reform{
        margin-top: 56px;
    }
}