@use "../common/mixin";

@media #{$break_point_pc}{
    .l-service{
        margin-top: 160px;
    }
}

@media #{$break_point_sp}{
    .l-service{
        margin-top: 56px;
    }
}

@media #{$break_point_tab}{
    .l-service{
        margin-top: 56px;
    }
}