//==============================
//
//		_keyvisual
//
//==============================
@use "../foundation/mixin";

//==============================
//		PC + SP
//==============================
.l-movie {}

.l-movie--embedded {
	
}

.fancybox-type-image .fancybox-inner {
	width: 100%!important;
	height:100%!important; 
}

//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	.l-movie {}

	.l-movie--embedded_pottage {
		width: 800px;
		margin: auto;
		video {
			width: 100%;
			height: auto;
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.l-movie {}

	.l-movie--embedded_pottage {
		width: 100%;
		margin: auto;
		video {
			width: 100%;
			height: auto;
		}
	}
}