//==============================
//
//		_p-theme
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-accordion--1st {}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {

	.p-accordion--1st {
		padding: 30px 40px;
		border-radius: 20px;
		background-color: #F5FBFE;
		box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02);
		counter-increment: num 1;

		+.p-accordion--1st {
			margin-top: 40px;
		}

		.accordion_heading {
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;

			&::before {
				content: "Q"counter(num);
				display: block;
				width: 60px;
				height: 60px;
				color: #ffffff;
				font-size: 2.3rem;
				font-weight: bold;
				text-align: center;
				line-height: 60px;
			}

			.title_territory {
				width: calc(100% - 60px - 50px - 20px);
				margin-left: 20px;
			}

			.icon_territory {
				width: 50px;
				height: 50px;
				border-radius: 50vw;
				background-color: #F8B62D;
				color: #ffffff;
				font-size: 3rem;
				font-weight: bold;
				text-align: center;
				line-height: 50px;

				.when_close {
					display: block;
				}

				.when_open {
					display: none;
				}
			}
		}

		.accordion_conts .accordion_conts_inner {
			padding: 20px 40px;
		}

		&.open .accordion_heading .icon_territory {
			.when_close {
				display: none;
			}

			.when_open {
				display: block;
			}
		}
	}

	/* 		ラ・フランスしぼり
	-------------------------------------- */
	.p-accordion--1st-lafrance {
		.accordion_heading::before {
			background-image: url(/shared/img/lineup/lafrance/icon_05.svg);
		}
	}

	/* 		まるごど大豆
	-------------------------------------- */
	.p-accordion--1st-soybean {
		.accordion_heading::before {
			background-image: url(/shared/img/lineup/soybean/section_qa_icon01.png);
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.p-accordion--1st {
		padding: 5%;
		border-radius: 20px;
		background-color: #F5FBFE;
		box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02);
		counter-increment: num 1;

		+.p-accordion--1st {
			margin-top: 40px;
		}

		.accordion_heading {
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;

			&::before {
				content: "Q"counter(num);
				display: block;
				width: 40px;
				height: 40px;
				color: #ffffff;
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
				line-height: 40px;
				background-size: 100% auto;
			}

			.title_territory {
				width: calc(100% - 40px - 40px - 20px);
				margin-left: 20px;
			}

			.icon_territory {
				width: 40px;
				height: 40px;
				border-radius: 50vw;
				background-color: #F8B62D;
				color: #ffffff;
				font-size: 2.5rem;
				font-weight: bold;
				text-align: center;
				line-height: 40px;

				.when_close {
					display: block;
				}

				.when_open {
					display: none;
				}
			}
		}

		.accordion_conts .accordion_conts_inner {
			padding: 10px 20px;
		}

		&.open .accordion_heading .icon_territory {
			.when_close {
				display: none;
			}

			.when_open {
				display: block;
			}
		}
	}

	/* オープン時 */

	/* 		ラ・フランスしぼり
	-------------------------------------- */

	.p-accordion--1st-lafrance .accordion_heading::before {
		background-image: url(/shared/img/lineup/lafrance/icon_05.svg);
	}

	.p-accordion--1st-soybean .accordion_heading::before {
		background-image: url(/shared/img/lineup/soybean/section_qa_icon01.png);
	}
}