//==============================
//
//		_p-cooking
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-theme_cooking--1st {
    text-align: center;
}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {

    .p-theme_cooking{
        .c-title_h2--appeal{
            span{
                position: relative;
                display: inline-block;
                &::before{
                    position: absolute;
                    content: "";
                    width: 92px;
                    height: 47px;
                    background: url(/shared/img/lineup/yasaidashi/section_cooking_icon01.png) no-repeat center center;
                    background-size: 100%;
                    left: -120px;
                    bottom: -20px;
                }
                &::after{
                    position: absolute;
                    content: "";
                    width: 88px;
                    height: 60px;
                    background: url(/shared/img/lineup/yasaidashi/section_cooking_icon02.png) no-repeat center center;
                    background-size: 100%;
                    right: -100px;
                    bottom: -20px;
                }
            }
        }
        .img{
            text-align: center;
            margin-top: 40px;
            img{
                width: 400px;
            }
        }
        .txt_territory{
            .txt{
                margin-top: 40px;
            }
            .txt:nth-of-type(2){
                span{
                    position: relative;
                    display: inline-block;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 77px;
                        height: 49px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon03.png) no-repeat center center;
                        background-size: 100%;
                        left: -120px;
                        top: -20px;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: 98px;
                        height: 55px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon04.png) no-repeat center center;
                        background-size: 100%;
                        right: -100px;
                        top: -20px;
                    }
                }
            }
            .txt:nth-of-type(3){
                span{
                    position: relative;
                    display: inline-block;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 58px;
                        height: 76px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon05.png) no-repeat center center;
                        background-size: 100%;
                        left: -120px;
                        bottom: -20px;
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: 89px;
                        height: 97px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon06.png) no-repeat center center;
                        background-size: 100%;
                        right: -100px;
                        bottom: -20px;
                    }
                }
            }
        }
    }

}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {

    .section .section_inner-cooking{
        width: 100%;
        overflow: hidden;
    }

    .p-theme_cooking{
        .img{
            text-align: center;
            margin-top: 40px;
            img{
                width: 80%;
            }
        }
        .txt_territory{
            .txt{
                margin-top: 40px;
            }
            .txt:nth-of-type(2){
                span{
                    position: relative;
                    display: inline-block;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 77px;
                        height: 49px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon03.png) no-repeat center center;
                        background-size: 100%;
                        left: -70px;
                        top: -20px;
                        transform: rotate(15deg);
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: 98px;
                        height: 55px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon04.png) no-repeat center center;
                        background-size: 100%;
                        right: -80px;
                        top: -60px;
                        transform: rotate(-33deg);
                    }
                }
            }
            .txt:nth-of-type(3){
                span{
                    position: relative;
                    display: inline-block;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 58px;
                        height: 76px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon05.png) no-repeat center center;
                        background-size: 100%;
                        left: -80px;
                        bottom: -20px;
                        transform: rotate(10deg);
                    }
                    &::after{
                        position: absolute;
                        content: "";
                        width: 89px;
                        height: 97px;
                        background: url(/shared/img/lineup/yasaidashi/section_cooking_icon06.png) no-repeat center center;
                        background-size: 100%;
                        right: -100px;
                        bottom: 10px;
                    }
                }
            }
        }
    }

}