//==============================
//
//		_p-relation
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {

    .relation_section{
        background: url(/shared/img/lineup/yasaidashi/bg_img_01.png);
        background-repeat: repeat;
        margin-top: 0!important;
        padding-bottom: 40px;

        .c-title_h2--relation{
            text-align: center;
            font-size: 4rem;
            h2{
                color: #41210f;
            }
            span{
                position: relative;
                padding: 0 20px;
                &::after{
                    content: "";
                    position: absolute;
                    height: 50px;
                    width: 1px;
                    transform: rotate(35deg) translate(0,-50%);
                    right: 0;
                    top: 40%;
                    background: #41210f;
                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 50px;
                    width: 1px;
                    transform: rotate(-35deg) translate(0,-50%);
                    left: 0;
                    top: 40%;
                    background: #41210f;
                }
            }
        }

        .relation_item_box{
            margin-top: 20px;
            padding: 35px;
            border: 2px solid #bf916b;
            background-color: #ffffff;
            .relation_cots-potage .txt_area .item_name{
                margin-bottom: 10px;
            }
            .relation_cots a{
                width: 49%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                float: left;
            }
            .relation_cots:nth-child(odd) a{
                padding-right: calc(2% - 1px);
                border-right: 2px dashed #bf916b;
                margin-right: calc(2% - 1px);
            }
            .txt_area{
                line-height: 1.5;
                margin-right: 2%;
                .item_name{
                    margin: 0;
                    color: #3f220e;
                    sup{
                        vertical-align: super;
                        font-size: 100%;
                    }
                }
                .txt{
                    margin: 0;
                    font-size: 1.5rem;
                    color: #3f220e;
                    sup{
                        vertical-align: super;
                        font-size: 100%;
                    }
                }
            }
        }

    }

}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {

    .relation_section{
        background: url(/shared/img/lineup/yasaidashi/bg_img_01.png);
        background-repeat: repeat;
        margin-top: 0!important;
        padding: 20px 0 30px;

        .c-title_h2--relation{
            text-align: center;
            font-size: 2rem;
            h2{
                margin: 0 auto 20px;
                color: #41210f;
            }
            span{
                position: relative;
                font-size: 6vw;
                padding: 0 10px;
                &::after{
                    content: "";
                    position: absolute;
                    height: 50px;
                    width: 1px;
                    transform: rotate(35deg) translate(0,-50%);
                    right: 0;
                    top: 40%;
                    background: #41210f;
                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 50px;
                    width: 1px;
                    transform: rotate(-35deg) translate(0,-50%);
                    left: 0;
                    top: 40%;
                    background: #41210f;
                }
            }
        }

        .relation_item_box{
            margin-top: 20px;
            padding: 15px 4%;
            border: 2px solid #bf916b;
            background-color: #ffffff;
            .relation_cots a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .img{
                    width: 22%;
                }
            }
            .relation_cots:nth-child(2) a{
                margin-top: 10px;
                padding-top: 10px;
                border-top: 2px dashed #bf916b;
            }
            .txt_area{
                line-height: 1.5;
                width: 80%;
                margin-left: 3%;
                .item_name{
                    margin: 0;
                    color: #3f220e;
                    font-size: 3.5vw;
                }
                .txt{
                    margin: 0;
                    font-size: 3.5vw;
                    color: #3f220e;
                }
            }
        }

    }


}