//==============================
//
//		_p-theme
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-theme_obsession--pottage {}


//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	.p-theme_obsession--pottage01 {
		.p-theme_point__grid {
			display: grid;
			grid-template-columns: 325px 1fr;
			grid-template-rows: 0.1fr auto 1fr;
			gap: 20px 26px;

			.grid_item_01 {
				grid-column: 1/3;
				grid-row:1/2;
			}
			.grid_item_02 {
				grid-column: 1/2;
				grid-row:2/4;
			}
			.grid_item_03 {
				grid-column: 2/3;
				grid-row:2/3;
			}
			.grid_item_04 {
				grid-column: 2/3;
				grid-row:3/4;
			}
			.grid_item_05 {
				grid-column: 1/3;
				grid-row:4/5;
			}
		}
		
		.p-theme_obsession__img {
			text-align: center;
		}

		.p-theme_obsession__name {
			
		}
		.p-theme_obsession__body {
			font-size: 1.5rem;

			.boxed {
				border: 1px solid #c8a063;
				background: #fff;
				padding: 14px 15px;
				margin-bottom: 15px;
				font-size: 1.1rem;
			}
			.blackboard {
				
			}
		}
		
		.p-theme_obsession__footer {
			.youtube {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.movie_territory {
					width: calc(95% - 403px);
					iframe {
						width: 100%;
					}
				}
				.img_territory {
					width: 403px;
				}
			}
		}
	}
	
	.p-theme_obsession--recipe_arrange {
		.p-theme_obsession__heading {
			overflow: hidden;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: calc(100% - 5px - 5px);
				margin: 5px 0;
				border-top: 1px solid #c8a062;
				border-bottom: 1px solid #c8a062;
			}
			.title {
				position: relative;
				z-index: 2;
				margin: 0 100px 0 100px;
				background-color: #ffffff;
				font-size: 1.8rem;
				font-weight: bold;
				text-align: center;
				&::before {
					content: "";
					display: block;
					position: absolute;
					left: -10px;
					top: 50%;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 25px 15px 25px 0;
					border-color: transparent #ffffff transparent transparent;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					right: -10px;
					top: 50%;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 25px 0 25px 15px;
					border-color: transparent transparent transparent #ffffff;
				}
			}
		}

		.p-theme_obsession__body {
			margin-top: 25px;
			display: flex;
			justify-content: space-evenly;
		}

		.p-theme_obsession__box {
			width: calc(90% / 4);
			.box__body {
				margin-top: 20px;
			}

			.territory {
				img {
					width: 100%;
					height: auto;
				}

				& + .territory {
					margin-top: 20px;
				}
			}

			.title_territory {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 20px;
			}

			.img_territory {
				padding: 0 20px;
			}
			.txt_territory {
				font-size: 15px;
			}
		}

		&.spring {
			.p-theme_obsession__heading {
				background-color: #d93657;
				color: #d93657;
			}
		}
		&.summer {
			.p-theme_obsession__heading {
				background-color: #00737c;
				color: #00737c;
			}
		}
		&.autumn {
			.p-theme_obsession__heading {
				background-color: #cd6100;
				color: #cd6100;
			}
		}
		&.winter {
			.p-theme_obsession__heading {
				background-color: #a71e41;
				color: #a71e41;
			}
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.p-theme_obsession--pottage01 {
		.p-theme_point__grid {
			.grid_item {
				& + .grid_item {
					margin-top: 20px;
				}
			}
		}

		.p-theme_obsession__img {
			.box {
				display: flex;
				justify-content: center;
				align-items: center;
				.img {
					width: 49%;
					& + .img {
						margin: 0 0 0 2%;
					}
				}
			}
		}

		.p-theme_obsession__name {
		}

		.p-theme_obsession__body {
			font-size: 1.5rem;

			.boxed {
				border: 1px solid #c8a063;
				background: #fff;
				padding: 14px 15px;
				margin-bottom: 15px;
				font-size: 1.1rem;
			}
			.blackboard {
			}
			.stock {
				width: 70%;
				margin: auto;
			}
		}
		
		.p-theme_obsession__footer {
			.youtube {
				
				.movie_territory {
					position: relative;
					width: 100%;
					&::before {
						content: "";
						display: block;
						padding-top: 56.25%; /* 比率を指定 */
					}

					iframe {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
				.img_territory {
					margin-top: 20px;
				}
			}
		}
	}
	
	.p-theme_obsession--pottage01--1st {
		.p-theme_obsession__img {
			.box {
				.img {
					width: 100%;
				}
			}
		}
	}

	.p-theme_obsession--recipe_arrange {
		.p-theme_obsession__heading {
			.title {
				font-size: 1.8rem;
				font-weight: bold;
				text-align: center;
			}
		}

		.p-theme_obsession__body {
			margin-top: 25px;
		}
	
		.p-theme_obsession__box {
			width: 100%;
			& + .p-theme_obsession__box {
				margin-top: 20px;
			}
			.box__body {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 10px;
				.img_territory {
					width: 40%;
				}
				.txt_territory {
					width: 55%;
				}
			}

			.territory {
				img {
					width: 100%;
					height: auto;
				}
			}
	
			.title_territory {
				height: 2rem;
				text-align: center;
				img {
					width: auto;
					height: 100%;
				}
			}
			.img_territory {
			}
			.txt_territory {
				font-size: 15px;
			}
		}

		&.spring {
			.p-theme_obsession__heading {
				color: #d93657;
			}
		}
		&.summer {
			.p-theme_obsession__heading {	
				color: #00737c;
			}
		}
		&.autumn {
			.p-theme_obsession__heading {
				color: #cd6100;
			}
		}
		&.winter {
			.p-theme_obsession__heading {
				color: #a71e41;
			}
		}
	}
}