//==============================
//
//		_p-theme
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-theme_point--1st {}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	.p-theme_point {
		.p-theme_point__img {
			img {
				border-radius: 10px;
				width: 100%;
				height: auto;
			}
		}

		.p-theme_point__body {
			.txt {
				& + .txt {
					margin-top: 0;
				}
			}
			.note {
				font-size: 1.4rem;
			}
		}
		&--yasaidashi{
			margin-bottom: 60px;
			&-1{
				.flex_content{
					background: url(/shared/img/lineup/yasaidashi/section_vegetable_bg.png) no-repeat center bottom;
					background-size: 100%;
				}
			}
			&-5{
				margin-bottom: 0;
			}
			.p-theme_point__flex{
				display: flex;
				justify-content: space-between;
				margin-top: 40px;
				.flex_img{
					width: 290px;
				}
				.flex_content{
					width: calc(100% - 310px);
					.flex_h3{
						font-size: 3rem;
						margin: 0 0 15px 0;
						color: #40220f;
						font-weight: normal;
					}
					.txt{
						font-size: 1.8rem;
						margin: 0;
					}
				}
			}
			.center_content{
				text-align: center;
				.center__h3{
					font-size: 2.5rem;
					margin: 0 0 15px 0;
					color: #40220f;
					font-weight: normal;
				}
				.txt{
					font-size: 1.8rem;
					margin: 0;
				}
			}
			.img.txt_center{
				margin: 30px 0 0 0;
				img{
					max-width: 100%;
				}
			}
		}
	}

	.p-theme_point--1st {
		min-height: 220px;

		.p-theme_point__grid {
			display: grid;
			grid-template-columns: 220px 1fr;
			grid-template-rows: 0.1fr 0.1fr;
			gap: 10px 20px;

			.grid_item_01 {
				grid-column: 2/3;
				grid-row: 1/2;
			}

			.grid_item_02 {
				grid-column: 1/2;
				grid-row: 1/3;
			}

			.grid_item_03 {
				grid-column: 2/3;
				grid-row: 2/3;
			}
		}
	}

	.p-theme_point--2nd {

		.p-theme_point__grid {
			display: grid;
			grid-template-columns: 220px 1fr;
			grid-template-rows: 0.1fr 0.1fr 0.1fr;
			gap: 10px 15px;

			.grid_item_01 {
				grid-column: 2/3;
				grid-row: 1/2;
			}

			.grid_item_02 {
				grid-column: 1/2;
				grid-row: 1/3;
			}

			.grid_item_03 {
				grid-column: 2/3;
				grid-row: 2/3;
			}

			.grid_item_04 {
				grid-column: 1/2;
				grid-row: 3/4;
			}

			.grid_item_05 {
				grid-column: 2/3;
				grid-row: 3/4;
			}
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.p-theme_point {
		.p-theme_point__img {
			margin: 20px 0 0 0;
			img {
				border-radius: 10px;
				width: 100%;
				height: auto;
			}
		}

		.p-theme_point__body {
			margin: 20px 0 0 0;
			.note {
				font-size: 1.4rem;
			}
		}

		&--yasaidashi{
			margin-bottom: 40px;
			&-1{
				.flex_content{
					background: url(/shared/img/lineup/yasaidashi/section_vegetable_bg.png) no-repeat center bottom;
					background-size: 100%;
					padding-bottom: 30px;
					margin-bottom: 30px;
				}
			}
			&-5{
				margin-bottom: 0;
				.txt{
					text-align: left;
				}
			}
			.p-theme_point__flex{
				display: block;
				margin-top: 40px;
				.flex_content{
					.flex_h3{
						font-size: 2rem;
						margin: 25px 0 15px 0;
						color: #40220f;
						font-weight: normal;
					}
					.txt{
						font-size: 1.5rem;
						margin: 0;
					}
				}
			}
			.center_content{
				text-align: center;
				.center__h3{
					font-size: 2rem;
					margin: 0 0 15px 0;
					color: #40220f;
					font-weight: normal;
				}
				.txt{
					font-size: 1.5rem;
					margin: 0;
				}
			}
			.img.txt_center{
				margin: 30px 0 0 0;
			}
		}
	}

	.p-theme_point--1st {
		.p-theme_point__grid {
		}
	}

	.p-theme_point--2nd {

		.p-theme_point__grid {
		}
	}
}