//==============================
//
//		_p-theme
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-theme_appeal--1st {}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	.p-theme_appeal--1st {
		.p-theme_appeal__inner {}

		.p-theme_appeal__heading {
			&__yasaidashi{
				position: relative;
				&::after{
					display: block;
					content: "";
					width: 170px;
					height: 170px;
					background: url(/shared/img/lineup/yasaidashi/section_fv_icon.png) no-repeat center center;
					background-size: 100%;
					position: absolute;
					right: 80px;
					bottom: -140px;
				}
			}
		}

		.p-theme_appeal__body {
			width: 840px;
			margin: 40px auto auto auto;
		}

		.p-theme_appeal__block {}

		.p-theme_appeal__block--txt {
			.box_01 {
				text-align: center;
			}
		}
	}

	.p-theme_appeal--2nd {
		.p-theme_appeal__inner {}

		.p-theme_appeal__heading {}

		.p-theme_appeal__body {
			margin-top: 40px;
		}

		.p-theme_appeal__bottom {
			margin-top: 48px;
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.p-theme_appeal {
		&.heading_full {
			.p-theme_appeal__inner {
				position: relative;
			}
			.p-theme_appeal__heading {
				margin: 0 calc(50% - 50vw);
			}
		}
	}

	.p-theme_appeal--1st {
		.p-theme_appeal__inner {}

		.p-theme_appeal__heading {
			&__yasaidashi{
				position: relative;
				&::after{
					display: block;
					content: "";
					width: 30vw;
					height: 30vw;
					background: url(/shared/img/lineup/yasaidashi/section_fv_icon.png) no-repeat center center;
					background-size: 100%;
					position: absolute;
					right: 0px;
					bottom: -42%;
				}
			}
		}

		.p-theme_appeal__body {
			margin: 20px auto auto auto;
		}

		.p-theme_appeal__block {}

		.p-theme_appeal__block--txt {
			.box_01 {
				text-align: center;
			}
		}
	}

	.p-theme_appeal--2nd {
		.p-theme_appeal__inner {}

		.p-theme_appeal__heading {}

		.p-theme_appeal__body {
			margin-top: 20px;
		}

		.p-theme_appeal__bottom {
			margin-top: 24px;
		}
	}

	.p-theme_appeal__block--title__yasaidashi{
		width: 65%;
		.c-title_h2--appeal{
			font-size: 8vw;
		}
	}
}