//==============================
//
//		_p-theme
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-lineup_detail {
	line-height: 1.6;

	&__inner {
		background-image: url(/shared/img/lineup/soybean/bg_img_01.png);
		background-repeat: repeat;

		&__yasaidashi {
			background:none;
		}
	}

	* {
		box-sizing: border-box;
	}
}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	.p-lineup_detail {

		&__inner {
			padding: 50px 0;
			&__yasaidashi{
				padding: 50px 0 0;
			}
		}

		.section {
			&+.section {
				margin-top: 80px;
			}
		}

		.block {
			&+.block {
				margin-top: 50px;
			}
		}

		.box {
			&+.box {
				margin-top: 10px;
			}
		}
	}

	.box_02.l-box{
		.note{
			width: 800px;
			margin: 20px auto 0px;
			li{
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
		.txt{
			font-size: 15px;
		}
	}

	.section_bnr{
		.section_inner{
			.bnr_item{
				text-align: center;
				a{
					display: inline-block;
				}
				&+.bnr_item{
					margin-top: 20px;
				}
			}
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.p-lineup_detail {
		&__inner {
			padding: 25px 0;
			&__yasaidashi{
				padding: 25px 0 0;
			}
		}

		.section {
			&+.section {
				margin-top: 50px;
			}
		}

		.block {
			&+.block {
				margin-top: 30px;
			}
		}

		.box {
			&+.box {
				margin-top: 10px;
			}
		}
	}

	.box_02.l-box{
		.note{
			width: 100%;
			margin: 20px auto 0px;
			li{
				font-size: 10.5px;
				margin-bottom: 5px;
			}
		}
	}

	.section_bnr{
		.section_inner{
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			.bnr_item{
				text-align: center;
				a{
					display: inline-block;
				}
				&+.bnr_item{
					margin-top: 4vw;
				}
			}
		}
	}
}