@use "../../common/mixin";

@media #{$break_point_pc}{

    .p-contact{
        background-color: #F7F7F7;
        padding: 80px 0;
        &__inner{
            width: calc(1020 / 1366 * 100vw);
            margin-left: auto;
            margin-right: auto;
        }
        &__form{
            margin-top: 60px;
        }
        &__links{
            margin-top: 60px;
        }
        &__links-item{
            width: calc(284 / 1366 * 100vw);
        }
    }

}