@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-flow-list{
        display: flex;
        justify-content: space-between;
        &__item{
            width: 194px;
            padding: 40px 20px 20px 20px;
            background-color: #fff;
            position: relative;
            &::after{
                content: "";
                display: inline-block;
                width: 17px;
                height: 16px;
                background-image: url(./assets/img/arrow_icon_01.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
            }
            &::before{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38px;
                height: 38px;
                background-color: #F2A700;
                border-radius: 50%;
                font-size: unquote('min(calc((15 / 1366) * 100vw), 15px)');
                font-weight: bold;
                color: #fff;
                position: absolute;
                left: 50%;
                top: -19px;
                transform: translateX(-50%);
                z-index: 10;
            }
            @for $i from 1 to 6{
                &:nth-of-type(#{$i}){
                    &::before{
                        content: "0#{$i}";
                    }
                }
            }
            &:last-of-type{
                &::after{
                    content: none;
                }
            }
        }
        &__list{}
        &__ttl{
            font-size: unquote('min(calc((16 / 1366) * 100vw), 16px)');
            font-weight: bold;
            color: #111;
            text-align: center;
        }
        &__cont{
            margin-top: 24px;
            font-size: unquote('min(calc((14 / 1366) * 100vw), 14px)');
            color: #656565;
            line-height: calc(24/14);
        }
    }
}

@media #{$break_point_sp}{

    .p-flow-list{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &__item{
            width: calc(306 / 393 * 100vw);
            margin-left: calc(50 / 393 * 100vw);
            padding: 22px calc(25 / 393 * 100vw);
            background-color: #fff;
            position: relative;
            & + &{
                margin-top: 15px;
            }
            &::before{
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(38 / 393 * 100vw);
                height: calc(38 / 393 * 100vw);
                background-color: #F2A700;
                border-radius: 50%;
                font-size: unquote('min(calc((16 / 393) * 100vw), 16px)');
                font-weight: bold;
                color: #fff;
                position: absolute;
                left: calc(-50 / 393 * 100vw);
                top: 0;
                z-index: 10;
            }
            @for $i from 1 to 6{
                &:nth-of-type(#{$i}){
                    &::before{
                        content: "0#{$i}";
                    }
                }
            }
            &::after{
                content: "";
                width: 2px;
                height: calc(130 / 393 * 100vw);
                background-color: #F2A700;
                position: absolute;
                left: calc(-32 / 393 * 100vw);
                top: calc(-130 / 393 * 100vw);
            }
            &:last-of-type{
                &::after{
                    // content: none;
                }
            }
        }
        &__list{}
        &__ttl{
            font-size: unquote('min(calc((16 / 393) * 100vw), 16px)');
            font-weight: bold;
            color: #111;
        }
        &__cont{
            margin-top: calc(15 / 393 * 100vw);
            font-size: unquote('min(calc((14 / 393) * 100vw), 14px)');
            color: #656565;
            line-height: calc(24/14);
        }
    }

}

@media #{$break_point_tab}{
    .p-flow-list{
        display: flex;
        justify-content: space-between;
        &__item{
            width: 19%;
            padding: 40px 20px 20px 20px;
            background-color: #fff;
            position: relative;
            &::after{
                content: "";
                display: inline-block;
                width: 17px;
                height: 16px;
                background-image: url(./assets/img/arrow_icon_01.png);
                background-size: 100% auto;
                background-repeat: no-repeat;
                position: absolute;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
            }
            &::before{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38px;
                height: 38px;
                background-color: #F2A700;
                border-radius: 50%;
                font-size: unquote('min(calc((15 / 1366) * 100vw), 15px)');
                font-weight: bold;
                color: #fff;
                position: absolute;
                left: 50%;
                top: -19px;
                transform: translateX(-50%);
                z-index: 10;
            }
            @for $i from 1 to 6{
                &:nth-of-type(#{$i}){
                    &::before{
                        content: "0#{$i}";
                    }
                }
            }
            &:last-of-type{
                &::after{
                    content: none;
                }
            }
        }
        &__list{}
        &__ttl{
            font-size: unquote('max(calc((16 / 1366) * 100vw), 16px)');
            font-weight: bold;
            color: #111;
            text-align: center;
        }
        &__cont{
            margin-top: 24px;
            font-size: unquote('max(calc((14 / 1366) * 100vw), 14px)');
            color: #656565;
            line-height: calc(24/14);
        }
    }
}