@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-flow{
        background-color: #F7F7F7;
        padding: 80px 0;
        &__inner{
            width: 1020px;
            margin-left: auto;
            margin-right: auto;
        }
        &__list{
            margin-top: 60px;
        }
        &__submit{
            margin-top: 40px;
        }
    }
}

@media #{$break_point_sp}{
    .p-flow{
        background-color: #F7F7F7;
        padding: 60px 0;
        &__inner{
            margin-left: 16px;
            margin-right: 16px;
        }
        &__list{
            margin-top: 40px;
        }
        &__submit{
            margin-top: 40px;
        }
    }
}

@media #{$break_point_tab}{
    .p-flow{
        background-color: #F7F7F7;
        padding: 80px 0;
        &__inner{
            margin-left: 40px;
            margin-right: 40px;
        }
        &__list{
            margin-top: 60px;
        }
        &__submit{
            margin-top: 40px;
        }
    }
}