@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-form{
        &__item{
            display: flex;
            flex-direction: column;
            & + &{
                margin-top: 24px;
            }

            &--column2{
                flex-direction: row;
                column-gap: 60px;
                width: 100%;
                &-item{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    .p-form__input{
                        width: 170px;
                    }
                    .p-form__select{
                        width: 170px;
                    }
                }
            }
        }
        &__label{
        }
        &__input{
            width: 100%;
            margin-top: 8px;
        }
        &__select{
            width: 100%;
            margin-top: 8px;
        }
        &__radio-group{
            margin-top: 16px;
        }
        &__radio-item{
            & + &{
                margin-top: 8px;
            }
        }
        &__textarea{
            margin-top: 8px;
        }
        &__submit{
            width: 280px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}

@media #{$break_point_sp}{
    .p-form{
        &__item{
            display: flex;
            flex-direction: column;
            & + &{
                margin-top: 16px;
            }

            &--column2{
                &-item{
                    & + &{
                        margin-top: 16px;
                    }
                }
            }
        }
        &__label{
        }
        &__input{
            width: 100%;
            margin-top: 8px;
        }
        &__select{
            width: 100%;
            margin-top: 8px;
        }
        &__radio-group{
            margin-top: 8px;
        }
        &__radio-item{
            & + &{
                margin-top: 15px;
            }
        }
        &__textarea{
            margin-top: 8px;
        }
        &__submit{
            width: 100%;
            max-width: 280px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}

@media #{$break_point_tab}{
    .p-form{
        &__item{
            display: flex;
            flex-direction: column;
            & + &{
                margin-top: 16px;
            }

            &--column2{
                &-item{
                    & + &{
                        margin-top: 16px;
                    }
                }
            }
        }
        &__label{
        }
        &__input{
            width: 100%;
            margin-top: 8px;
        }
        &__select{
            width: 100%;
            margin-top: 8px;
        }
        &__radio-group{
            margin-top: 8px;
        }
        &__radio-item{
            & + &{
                margin-top: 15px;
            }
        }
        &__textarea{
            margin-top: 8px;
        }
        &__submit{
            width: 280px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}