@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-faq{
        &__inner{
            width: calc(1020 / 1366 * 100vw);
            max-width: 1020px;
            margin-left: auto;
            margin-right: auto;
        }
        &__list{
            margin-top: 40px;
        }
    }
}

@media #{$break_point_sp}{
    .p-faq{
        &__inner{
            margin-left: 16px;
            margin-right: 16px;
        }
        &__list{
            margin-top: 32px;
        }
    }
}


@media #{$break_point_tab}{
    .p-faq{
        &__inner{
            margin-left: 40px;
            margin-right: 40px;
        }
        &__list{
            margin-top: 24px;
        }
    }
}