@use "../../common/mixin";

@media #{$break_point_pc}{

    .p-faq-accordion{
        width: calc((755 / 1366) * 100vw);
        margin-left: auto;
        margin-right: auto;
        &__item{
            border: 1px solid #D1D1D1;
            border-radius: 2px;
            padding: calc((20 / 1366) * 100vw);
            & + &{
                margin-top: 8px;
            }
        }
        &__ttl{
            padding-left: calc((24 / 1366) * 100vw);
            font-size: unquote('min(calc((16 / 1366) * 100vw), 16px)');
            font-weight: bold;
            color: #111;
            position: relative;
            &::after{
                content: "";
                display: inline-block;
                width: calc((14 / 1366) * 100vw);
                height: calc((14 / 1366) * 100vw);
                border-bottom: solid 3px #F2A700;
                border-right: solid 3px #F2A700;
                border-radius: 2px;
                position: absolute;
                right: 0;
                top: -50%;
                transform: rotate(45deg) translateY(50%);
                transition: all 0.2s;
            }
            &.active{
                &::after{
                    top: 50%;
                    right: 0.8vw;
                    transform: rotate(225deg) translateY(50%);
                }
            }
        }
        &__cont{
            opacity: 0;
            margin-top: 0;
            height: 0;
            overflow: hidden;
            transition: opacity 0.2s, height 0.2s, margin-top 0.2s;
            &.active{
                opacity: 1;
                margin-top: 20px;
                height: auto;
                padding-left: calc((24 / 1366) * 100vw);
                padding-right: calc((40 / 1366) * 100vw);
            }
        }
        &__txt{
            font-size: unquote('min(calc((14 / 1366) * 100vw), 14px)');
            color: #656565;
            line-height: calc(20/15);
            & + &{
                margin-top: 20px;
            }
        }
    }

}