@use "../../common/mixin";

.p-hamburger-menu{
    margin-bottom: 2vw;
    &__txt{
        padding: 0 0.5rem;
        font-size: unquote('min(calc((10 / 393) * 100vw), 10px)');
    }
}

$color-white: #fff;
$color-white-darker: darken($color-white, 5%);
$color-white-darken: darken($color-white, 15%);
$header-height: calc(70 / 393 * 100vw);;
$nav-toggle-size: 2rem;
$nav-toggle-transition-speed: 0.3s;
$nav-transition-speed: 0.6s;
$nav-width: 40vw;
$zindex-header: 500;

.nav-button {
  text-transform: uppercase;
}

.nav-wrapper {
  background-color: #343c55;
  box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.75);
  height: 100%;
  padding-top: $header-height;
  perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform $nav-transition-speed, visibility $nav-transition-speed;
  visibility: hidden;
  width: $nav-width;
  
  .nav-visible & {
    transform: translateX(0);
    visibility: visible;
  }
}

.hamburger-menu__list {
  position: relative;
  transform: rotateY(90deg);
  transform-origin: left center;
  transition: transform $nav-transition-speed;
  
  .nav-visible & {
    transform: rotateY(0deg);
  }
  
  a {
    display: block;
    line-height: 1.4;
    padding: 0.7em 0.5em 0.7em 1.4em;
    font-size: unquote('min(calc((16 / 393) * 100vw), 20px)');
    text-transform: uppercase;
    color: #fff;
    &:focus,
    &:hover {
      background-color: #2b3145;
      text-decoration: none;
    }
  }
}

@mixin button-lines {
    background: #F2A700;
    border-radius: $nav-toggle-size/10;
    display: inline-block;
    height: $nav-toggle-size/10;
    width: $nav-toggle-size;
}

.button-lines {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: $nav-toggle-size/2 $nav-toggle-size/4;
    user-select: none;
}

.lines {
    @include button-lines;
    height: 0;
    position: relative;
    z-index: 100;

    &:after,
    &:before {
        @include button-lines;
        content: "";
        left: 0;
        position: absolute;
    }

    &:after {
        top: $nav-toggle-size/4;
    }

    &:before {
        top: -$nav-toggle-size/4;
    }
}

.button-lines-x {
    .lines {
        transition: background .3s ease;

        &:after,
        &:before {
            transform-origin: 50% 50% 0;
            transition: top .3s .4s ease, transform .3s ease;
        }    
    }

    .nav-visible & {
        .lines {
            background: transparent;
        
            &:after,
            &:before {
                top: 0;
                transition: top .3s ease, transform .3s .3s ease;
                background-color: #fff;
            }
            
            &:after {
                transform: rotate3d(0, 0, 1, 45deg);
            }
            
            &:before {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}