@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-reform{
        background-color: #F7F7F7;
        padding: 80px 0;
        &__inner{
            width: 1020px;
            margin-left: auto;
            margin-right: auto;
        }
        &__tags{
            margin-top: 24px;
        }
        &__achieve{
            margin-top: 40px;
        }
        &__button-area{
            width: 280px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media #{$break_point_sp}{

    .p-reform{
        background-color: #F7F7F7;
        padding: 55px;
        &__inner{
            margin-left: 16px;
            margin-right: 16px;
        }
        &__tags{
            margin-top: 24px;
        }
        &__achieve{
            margin-top: 30px;
        }
        &__button-area{
            width: 280px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@media #{$break_point_tab}{
    .p-reform{
        background-color: #F7F7F7;
        padding: 55px 0;
        &__inner{
            margin-left: 40px;
            margin-right: 40px;
        }
        &__tags{
            margin-top: 24px;
        }
        &__achieve{
            margin-top: 30px;
        }
        &__button-area{
            width: 280px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}