@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-reform{
        background-color: #F7F7F7;
        padding: 80px 0;
        &__inner{
            width: calc(1020 / 1366 * 100vw);
            margin-left: auto;
            margin-right: auto;
        }
        &__tags{
            margin-top: 24px;
        }
        &__achieve{
            margin-top: 40px;
        }
        &__button-area{
            width: calc((280 / 1366) * 100vw);
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media only screen and (max-width:768px){

    .p-reform{
        background-color: #F7F7F7;
        padding: calc(55 / 393 * 100vw) 0;
        &__inner{
            margin-left: calc(15 / 393 * 100vw);
            margin-right: calc(15 / 393 * 100vw);
        }
        &__tags{
            margin-top: 24px;
        }
        &__achieve{
            margin-top: calc(30 / 393 * 100vw);
        }
        &__button-area{
            width: calc((280 / 393) * 100vw);
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@media screen and (min-width:769px) and ( max-width:1024px) {
    .p-reform{
        background-color: #F7F7F7;
        padding: calc(55 / 393 * 100vw) 0;
        &__inner{
            margin-left: calc(15 / 393 * 100vw);
            margin-right: calc(15 / 393 * 100vw);
        }
        &__tags{
            margin-top: 24px;
        }
        &__achieve{
            margin-top: calc(30 / 393 * 100vw);
        }
        &__button-area{
            width: calc((400 / 1366) * 100vw);
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}