
@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-service-info{
        background-color: #F7F7F7;
        position: relative;
        &::after{
            content: "";
            height: 48px;
            width: 70px;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
            background-color: #F7F7F7;
            position: absolute;
            left: 130px;
            top: -32px;
        }
        &__inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }
        &__ttl{
            font-size: unquote('min(calc((18 / 1366) * 100vw), 18px)');
            font-weight: bold;
            line-height: calc(30/18);
        }
        &__cont{
            width: 736px;
            padding: 24px;
            background-color: #fff;
            font-size: unquote('min(calc((13.6 / 1366) * 100vw), 14px)');
            line-height: calc(26/14);
            &--bold{
                font-weight: bold;
            }
        }
    }
}

@media #{$break_point_sp}{
    .p-service-info{
        background-color: #F7F7F7;
        position: relative;
        &__inner{
            display: flex;
            flex-direction: column;
            padding: 20px calc((12 / 393) * 100vw) 12px calc((12 / 393) * 100vw);
        }
        &__ttl{
            font-size: unquote('min(calc((18 / 393) * 100vw), 18px)');
            font-weight: bold;
            line-height: calc(30/18);
            text-align: center;
        }
        &__cont{
            width: calc((334 / 393) * 100vw);
            margin-top: 15px;
            padding: calc((20 / 393) * 100vw);
            background-color: #fff;
            font-size: unquote('min(calc((14 / 393) * 100vw), 14px)');
            line-height: calc(26/14);
            &--bold{
                font-weight: bold;
            }
        }
    }
}

@media #{$break_point_tab}{
    .p-service-info{
        background-color: #F7F7F7;
        position: relative;
        &__inner{
            display: flex;
            flex-direction: column;
            padding: 20px calc((12 / 393) * 100vw) 12px calc((12 / 393) * 100vw);
        }
        &__ttl{
            font-size: unquote('min(calc((18 / 393) * 100vw), 18px)');
            font-weight: bold;
            line-height: calc(30/18);
            text-align: center;
        }
        &__cont{
            margin-top: 15px;
            padding: calc((20 / 393) * 100vw);
            background-color: #fff;
            font-size: unquote('min(calc((14 / 393) * 100vw), 14px)');
            line-height: calc(26/14);
            &--bold{
                font-weight: bold;
            }
        }
    }
}