@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-service-land{
        &__list{
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc((335 / 1366) * 100vw);
            max-width: 335px;
            padding: 24px 0;
            // max-height: 121px;
            border: 1px solid #D1D1D1;
            box-sizing: border-box;
        }
        &__ttl{
            font-size: 15px;
            font-weight: bold;
            line-height: calc(22/15);
            text-align: center;
        }
    }
}

@media #{$break_point_sp}{
    .p-service-land{
        &__list{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 4px;
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc((287 / 393) * 100vw);
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            border: 1px solid #D1D1D1;
            box-sizing: border-box;

            & + &{
                margin-top: 6px;
            }
        }
        &__ttl{
            font-size: min(calc((13 / 393) * 100vw), 13px);
            font-weight: bold;
            line-height: calc(22/15);
            text-align: center;
        }
    }
}

@media #{$break_point_tab}{
    .p-service-land{
        &__list{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-top: 8px;
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc((400 / 1366) * 100vw);
            padding: 24px;
            border: 1px solid #D1D1D1;
            box-sizing: border-box;
        }
        &__ttl{
            font-size: max(calc((13 / 1366) * 100vw), 13px);
            font-weight: bold;
            line-height: calc(22/15);
            text-align: center;
        }
    }
}