@use "../../common/mixin";

@media #{$break_point_pc}{
    .p-service-reform{
        &__list{
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
        }
        &__item{
            width: calc((246 / 1366) * 100vw);
            position: relative;
        }
        &__img{
            line-height: 0;
        }
        &__ttl{
            font-size: unquote('min(calc((16 / 1366) * 100vw), 16px)');
            font-weight: bold;
            line-height: calc(22/16);
            color: #fff;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


@media #{$break_point_sp}{

    .p-service-reform{
        &__list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 8px;
            margin-top: 8px;
        }
        &__item{
            width: calc((178 / 393) * 100vw);
            position: relative;
        }
        &__img{
            line-height: 0;
        }
        &__ttl{
            font-size: unquote('min(calc((20 / 1366) * 100vw), 16px)');
            font-weight: bold;
            line-height: calc(22/16);
            color: #fff;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    

}