//==============================
//
//		_p-theme
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-theme_recommend--1st {
}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	.p-theme_recommend--1st {
		.p-theme_recommend__block {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			border: 1px solid #bf916b;
			background-color: #ffffff;

			.p-theme_recommend__box {
				width: 48%;

				& + .p-theme_recommend__box {
					&::before {
						content: "";
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						width: 2px;
						height: 80%;
						border-left: 2px dashed #bf916b;
					}
				}

				.txt_territory {
					line-height: 1.5;
					margin-right: 2%;
				}

				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.p-theme_recommend--1st {
		.p-theme_recommend__block {
			position: relative;
			padding: 10px;
			border: 1px solid #bf916b;
			background-color: #ffffff;

			.p-theme_recommend__box {
	
				& + .p-theme_recommend__box {
					margin-top: 10px;
					padding-top: 10px;
					border-top: 1px dashed #bf916b;
				}

				.img_territory {
					width: 20%;
				}

				.txt_territory {
					width: 70%;
					font-size: calc(24/640*100vw);
					line-height: 1.5;
				}

				.arrow_territory {
					width: 5%;
				}

				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}
	}
}