//==============================
//
//		_p-theme
//
//==============================
@use "../../foundation/mixin";

//==============================
//		PC + SP
//==============================
.p-theme_story--1st {}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	.p-theme_story--1st {
		.p-theme_story__body {
			margin-top: 20px;
		}
	}
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	.p-theme_story--1st {
		position: relative;
		padding: 35px 0 0 0;
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 12.8px;
			background-image: url(/shared/img/lineup/soybean/section_point_icon02.png);
			background-repeat: repeat;
			background-size: auto 100%;
			background-position: center center;
		}
		
		& + .p-theme_story--1st {
			padding-bottom: 35px;
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 12.8px;
				background-image: url(/shared/img/lineup/soybean/section_point_icon02.png);
				background-repeat: repeat;
				background-size: auto 100%;
				background-position: center center;
			}
		}

		.block_inner {
			display: flex;
			flex-direction: column-reverse;
		}
		.p-theme_story__heading {
			margin-top: 10px;
		}
		.p-theme_story__body {
			
		}
	}
}