//==============================
//
//		_keyvisual
//
//==============================
@use "../foundation/mixin";

//==============================
//		PC + SP
//==============================
.l-indent_1em li {
	text-indent: -1em;
	margin-left: 1em;
}

li.l-indent_1em,
.txt.l-indent_1em {
	text-indent: -1em;
	margin-left: 1em;
}

.l-indent_2em li {
	text-indent: -2em;
	margin-left: 2em;
}

li.l-indent_2em,
.txt.l-indent_2em {
	text-indent: -2em;
	margin-left: 2em;
}

.l-indent_3em li {
	text-indent: -3em;
	margin-left: 3em;
}

li.l-indent_3em,
.txt.l-indent_3em {
	text-indent: -3em;
	margin-left: 3em;
}



//==============================
//		PC
//==============================
@media #{mixin.$break_point_pc} {
	
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }




//==============================
//		SP
//==============================
@media #{mixin.$break_point_sp} {
	
}