@use "./mixin";

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

@media #{$break_point_pc}{
    .pc_only{
        display: block;
    }
    .sp_only{
        display: none;
    }
    
    img{
        width: 100%;
    }
}


//==============================
//		SP
//==============================
@media #{$break_point_tab}{
    .pc_only{
        display: none;
    }
    .sp_only{
        display: block;
    }
    .tab_only{
        display: block;
    }
    
    img{
        width: 100%;
    }
}

@media #{$break_point_sp}{
    .pc_only{
        display: none;
    }
    .sp_only{
        display: block;
    }
    .tab_only{
        display: none;
    }
    
    img{
        width: 100%;
    }
}

