@use "./mixin";


@media #{$break_point_pc}{
    .pc_only{
        display: block;
    }
    .sp_only{
        display: none;
    }

    body{
        font-family: 'Noto Sans JP', sans-serif;
        background-color: #fff;
    }
    
    img{
        width: 100%;
    }
}



//==============================
//		TAB
//==============================
// @media #{mixin.$break_point_tab}{
// }


//==============================
//		SP
//==============================
@media #{$break_point_sp}{
    .pc_only{
        display: none;
    }
    .sp_only{
        display: block;
    }

    body{
        font-family: 'Noto Sans JP', sans-serif;
        background-color: #fff;
    }
    
    img{
        width: 100%;
    }
}
